<div class="jumbotron">
    <div class="container">
      <h1 class="display-5">Welcome to MandaApp</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

      <p>You can do the following</p>
        <ul> 
          <li> Register your account</li>
          <li> Login to your account</li>
        </ul>

    </div>
  </div>